$amber : #FFB642;
*{
  font-family: 'Oxygen Mono', monospace;
  box-sizing: border-box;
}
button{
  cursor: pointer;
}
body{
  display: flex;
}
span{
  border-top: 1px solid $amber;
  border-right: 1px solid $amber;
  color: $amber;
}
.screenBar button {
  font-weight: bold;
  text-transform: uppercase;
  &:hover{
    border: 1px solid $amber;
  }
}
#screen{
  width: 40rem;
  height: 30rem;
  border: 1px solid black;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#leftside{
  width: 10rem;
  height: 25rem;
  border: 1px solid black;
}

.img{
  width: 35rem;
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset -2px 0px 5px 9px rgba(0,0,0,1);
}
.boy{
  background-image: url('../../img/fallout.png');
}
.map{
  background-image: url('../../img/map.jpg');
}
.screenCont{
  width: 35rem;
  height: 20rem;
  display: flex;
  color: $amber;
  justify-content: space-between;
}
.weaponsList{

  display: flex;
  flex-direction: column;
  overflow: hidden;
  p{
    cursor: pointer;
    &:hover{
      border: 1px solid $amber;
    }
    }
  }
.description{
  display: flex;
  align-items: center;
  margin-right: 5rem;
}
.threebuttons{
  width: 5rem;
  height: 5rem;
  background:radial-gradient(white,yellow,orange,red);
  border-radius:50%;
  box-shadow: inset -2px 0px 5px 9px rgba(0,0,0,1);
  font-weight: bold;
  text-transform: uppercase;
}
.flexdiv{
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
.screenBar{
  display: flex;
  justify-content: space-around;
}
.screenHead{
  
}
.screenBar button,.weaponsList button{
  border: 0;
  color: $amber;
  background-color: black;
  font-size: 1rem;
}
